.btn-sign-in {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;

  &:hover {
    background: rgba(255, 255, 255, 0.18);
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.btn-primary {
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 18px;
  color: #094370;

  &:hover {
    background: rgba(255, 255, 255, 0.18);
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.btn-secondary {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;

  &:hover {
    background: rgba(255, 255, 255, 0.18);
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.btn-contact {
  padding: 10px 20px;
  border: 1px solid #094370;
  background: #094370;
  border-radius: 1000px;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;

  &:hover {
    background: #115f9b;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.btn-subscribe {
  padding: 10px 20px;
  background: #0e7cc1;
  border-radius: 1000px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;

  &:hover {
    background: #0b6399;
    color: #ffffff;
  }
}
