.consultants {
  .consultant {
    .consultant-info {
      .user-icon {
      }

      .user-desc {
        .title {
          font-weight: 700;
          font-size: 20px;
          color: #232627;
        }

        .subtitle {
          font-weight: 400;
          font-size: 12px;
          color: #232627;
        }
      }
    }

    .consultant-schedule {
      .title {
        font-weight: 600;
        font-size: 16px;
        color: #000000;
      }
    }
  }
}
